{% extends "base.html" %}

{% block title %}Price History{% endblock %}

{% block content %}
<nav>
    <a href="{{ url_for('index') }}" class="nav-button">Return to Deals</a>
</nav>
<div class="price-history-container">
    <div class="search-container">
        <form id="search-form" class="search-form">
            <input type="text" id="product-search" placeholder="Search for a lightsaber...">
            <button type="submit" class="search-button">Search</button>
        </form>
        <div id="search-results" class="search-results"></div>
    </div>
    
    <div id="price-chart-container">
        <canvas id="priceChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/price_history.js') }}"></script>
{% endblock %}